<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load staticfiles %} <!-- New line -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Design by Michael Careuy</title>

<link href="{{STATIC_URL}}style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div class="style3"></div><div class="style_2"><span class="style3"><a href="http://www.zonnebank-studio-vergelijk.nl" title="Zonnebank Zonnestudio"><strong>Zonnebank zonnestudio</strong></a></span></div>
<div id="wrap">
<div id="topbar">
  <h1 id="sitename"><a href="http://www.zonnebank-studio-vergelijk.nl" target="_blank">The Solar Monitor Project</a></h1>
  <div id="menus">
  <ul id="topmenu">
<li  class="active"><a href="#">Home</a>
</li>
<li><a href="#">About the project</a>
</li>
<li><a href="#">Power Production</a>
</li>
<li><a href="#">products</a>
</li>
<li><a href="#">Services</a>
</li>
</ul>
</div>
</div>


<div id="content">
<div id="mainpage">
<h2>Welcome to the Solar Montior Home Page!</h2>

<p>Below you will find the graph of the power production figure for the last 24 hours. This is the power output for the Solar Generating Plant in total for the daylight hours.</p>


<img src="{% static 'myfig.png' %}" alt="Picture of Rango" width = "480" height = "400" />

 


</div>
<div id="sidebar">

</div>
<div id="sidebarcontents"> 
<ul id="menu">
<li>
  <h2>Our Services</h2>
</li>
<li>
	<ul><li><a href="#">Link a   Website</a></li>
				  			<li><a href="#">Website Link B</a></li>
				 
							<li><a href="#">Website Link C</a></li>
							<li> <a href="#">Small Businesses Website</a></li>
							<li><a href="#">Flyer Website</a></li>
			</ul>
</li>
</ul>
</div>

  <div id="sidebarbottom"></div>
</div>
<div class="clear"></div>
</div>

</div>
<div id="footer">
<p>Copyright &copy; 2013 your sitename| <a href="#">Sitemap</a></p>
</div>



</body>
</html>
