<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load staticfiles %} <!-- New line -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Weather Station Project</title>

<link href="{{STATIC_URL}}style.css" rel="stylesheet" type="text/css" />
<META HTTP-EQUIV="refresh" CONTENT="600">
</head>

<body>
<div class="style3"></div><div class="style_2"><span class="style3"><a href="http://www.zonnebank-studio-vergelijk.nl" title="Zonnebank Zonnestudio"><strong>Zonnebank zonnestudio</strong></a></span></div>
<div id="wrap">
<div id="topbar">
  <h1 id="sitename"><a href="http://www.zonnebank-studio-vergelijk.nl" target="_blank">The Weather Station Project</a></h1>
  <div id="menus">
  <ul id="topmenu">
<li  class="active"><a href="/home/">Home</a>
</li>
<li><a href="/about/">About the project</a>
</li>
<li><a href="/rp/">Raspberry Pi</a>
</li>
<li><a href="#">products</a>
</li>
<li><a href="#">Services</a>
</li>
</ul>
</div>
</div>


<div id="content">
<div id="mainpage">
<h2>About the Weather Station Monitor</h2>

<p>The Weather Station project was initiated to monitor the weather patterns for the local area. The monitor is located in rural NSW, Australia. Near the Murray River.</p>
<p>It is an example of using internet connectivity along with hardware and software design to accomplish an overall system designed, to suit an application.</p>
<p>The Weather Station Project is implemented using the Raspberry Pi, which is a credit card sized computer. <a href="http://www.raspberrypi.org/"> RP Home Page </a> The RP has aquired many fans, who are interested in experimenting with software and hardware. </p> <p> The hardware is based on the very successful ARM chipset and, typically, the software is a standard Linux operating system, supported nearly all common programming and scripting languages. </p>





 


</div>
<div id="sidebar">

</div>
<div id="sidebarcontents"> 
<ul id="menu">
<li>
  <h2>Station Functions</h2>
</li>
<li>
	<ul><li><a href="/home/">Home (Temperature)</a></li>
				  			<li><a href="/humidity/">Humidity</a></li>
				 
							<li><a href="/wind_speed/">Wind Speed</a></li>
							<li><a href="/direction/">Wind Direction</a></li>
							<li><a href="/rain/">Rain Fall</a></li>
							<li> <a href="/pressure/">Barometric Pressure</a></li>
							<li><a href="/solar/">Solar Radiation</a></li>
							<li><a href="/summary/">Summary</a></li>
			</ul>
</li>
</ul>
</div>

  <div id="sidebarbottom"></div>
</div>
<div class="clear"></div>
</div>

</div>
<div id="footer">
<p>Site design by Michael C| <a href="#">Sitemap</a></p>
</div>



</body>
</html>
